<div class="mb-1 flex flex-row w-full">
    <h1>My Account</h1>
</div>
<form on:submit|preventDefault={ () => { save() }}>
    <Input label="Email Address" placeholder="me@test.com" formField={form.form.email}/>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <Input label="First Name" formField={form.form.first_name}/>
        </div>
        <div>
            <Input label="Company" formField={form.form.firm_name}/>
        </div>
        <div>
            <Input label="Last Name" formField={form.form.last_name}/>
        </div>
        <div>
            <Input label="City" formField={form.form.firm_city}/>
        </div>
        <div>
            <Input label="Email" formField={form.form.email}/>
        </div>
        <div>
            <Input label="State" formField={form.form.firm_state}/>
        </div>
    </div>
</form>
<div class="flex flex-row w-full justify-end space-x-1 mt-2 pb-64">
    <Button on:click={save}>
        Save
    </Button>
</div>

<script lang="ts">
    import Input from '$lib/components/form/Input.svelte';
    import {Button} from 'flowbite-svelte';
    import {http, notifications, user} from "$lib/store/app";
    import {onMount} from "svelte";
    import Form from "$lib/utils/form";
    import {required, email} from "$lib/utils/rules";

    let form = new Form({
        email: {rules: [required, email]},
        first_name: {rules: [required]},
        last_name: {rules: [required]},
        firm_name: {rules: [required]},
        firm_city: {rules: [required]},
        firm_state: {rules: [required]},
    });

    onMount(() => {
        form.form.email.value = $user.email;
        form.form.first_name.value = $user.first_name;
        form.form.last_name.value = $user.last_name;
        form.form.firm_name.value = $user.firm_name;
        form.form.firm_city.value = $user.firm_city;
        form.form.firm_state.value = $user.firm_state;
    })

    const save = async () => {
        const valid = form.isValid();
        form = form;
        if (!valid || !$user) {
            return;
        }
        try {
            const data = form.getData();
            await $http.put(`/users/${$user.id}`, data);
            $notifications.addNotification('Account Updated', 'success');
        } catch (e) {
            $notifications.addNotification(e.message, 'error');
        }
    };
</script>