<Label class="mt-2">{label}</Label>
<DateInput placeholder={placeholder} bind:value={value} closeOnSelection={true} format={format} />
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import { DateInput } from 'date-picker-svelte'
    import { Label, Helper } from 'flowbite-svelte';
    import { FormField } from "$lib/utils/form";
    import { onMount } from "svelte";

    let value = null;
    let loaded = false;

    $: {
      valueChanged(value);
    }

    const valueChanged = (value) => {
        if (loaded) {
            formField.value = value;
        }
    };

    onMount(() => {
        if (formField.value) {
            value = new Date(formField.value);
        }
        loaded = true;
    })

    export let formField: FormField;
    export let placeholder = '';
    export let label: string;
    export let format = 'yyyy-MM-dd HH:mm:ss';
</script>