<Label class="mt-2">{label}</Label>
<div id="editor"></div>
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import { Label, Helper } from 'flowbite-svelte';
    import {FormField} from "$lib/utils/form";
    import {onMount} from "svelte";
    import Editor from '@toast-ui/editor';
    import '@toast-ui/editor/dist/toastui-editor.css';

    onMount(() => {
        setTimeout(() => {
            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialEditType: 'wysiwyg',
                previewStyle: 'vertical',
                usageStatistics: false,
                initialValue: formField.value,
                theme: 'dark'
            });
            editor.on('change', () => {
               formField.value = editor.getMarkdown();
            });
        }, 100);
    });

    export let formField: FormField;
    export let placeholder: string;
    export let label: string;
    export let rows: number = 4;
</script>