<Label class="mt-2">{label}</Label>
<Fileupload placeholder={placeholder} bind:value={formField.value} on:change={(event) => { change(event) }} />
<Label>File: { formField.value }</Label>
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import { Label, Fileupload, Helper } from 'flowbite-svelte';
    import {FormField} from "$lib/utils/form";
    export let formField: FormField;
    export let placeholder: string;
    export let label: string;

    const change = (event) => {
        formField.files = event.target.files;
    };
</script>