<Label class="mt-2">{label}</Label>
<Input placeholder={placeholder} bind:value={formField.value} color="{formField.displayErrors ? 'red' : ''}" />
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import { Label, Input, Helper } from 'flowbite-svelte';
    import {FormField} from "$lib/utils/form";

    export let formField: FormField;
    export let placeholder: string;
    export let label: string;
</script>