<Label class="mt-2">{label}</Label>
<div class="flex flex-row">
    <div class="grow mr-4">
        <Input placeholder={placeholder} bind:value={newValue} />
    </div>
    <div>
        <Button on:click={add} color="green">
            Add
        </Button>
    </div>
</div>
<ul class="list-disc ml-10">
    {#each values as val, i}
        <li>
            {val}
            <Button outline={true} color="red" class="!p-1 !m-1" on:click={() => { remove(i) }}>
                X
            </Button>
        </li>
    {/each}
</ul>
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import { Label, Input, Helper, Button } from 'flowbite-svelte';
    import {FormField} from "$lib/utils/form";

    export let formField: FormField;
    export let placeholder: string;
    export let label: string;

    let values: string[] = formField.value;
    let newValue = '';

    const add = () => {
        if (newValue) {
            values.push(newValue);
            values = values;
            newValue = '';
            formField.value = values;
        }
    };

    const remove = (index) => {
        values.splice(index,1);
        values = values;
        formField.value = values;
    };
</script>