<Label class="mt-2">{label}</Label>
<Select items={options} bind:value={formField.value} />
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
import { Label, Helper, Select } from 'flowbite-svelte';
import { FormField } from "$lib/utils/form";

export let formField: FormField;
export let label: string;
export let options: [];
</script>