<Label class="mt-2">{label}</Label>
<Textarea placeholder={placeholder} bind:value={formField.value} rows={rows} />
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import { Label, Textarea, Helper } from 'flowbite-svelte';
    import {FormField} from "$lib/utils/form";

    export let formField: FormField;
    export let placeholder: string;
    export let label: string;
    export let rows: number = 4;
</script>