<Label class="space-y-2 mb-2">
    <span>{label}</span>
    {#key unique}
        <Fileupload bind:this={input} bind:value={file} bind:files={files}/>
    {/key}
    {#if uploading}
        <Progressbar progress={progress} size="h-4" labelInside/>
    {/if}
</Label>
{#if formField.displayErrors}
    <Helper class='mb-2' color='red'>
        {formField.displayErrors}
    </Helper>
{/if}

<script lang="ts">
    import {Label, Fileupload, Helper, Progressbar, Button} from 'flowbite-svelte';
    import {FormField} from "$lib/utils/form";
    import {notifications, http} from "$lib/store/app";
    import axios from "axios";
    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();
    let uploading = false;
    let progress = 0;
    let file;
    let files;
    let input;
    let unique = {};
    export let formField: FormField;
    export let label: string;

    $: {
        if (files) {
            uploadFiles();
        }
    }

    $: formChange = formChanged(formField.value);

    const formChanged = (val) => {
        if (val === undefined) {
            files = null;
            progress = 0;
            uploading = false;
            file = null;
            unique = {};
        }
    };

    const uploadFiles = async () => {
        try {
            if (files.length === 0) {
                return;
            }
            uploading = true;
            const response = await $http.post(`/auth/s3`, {
                filename: files[0].name,
                filetype: files[0].type,
            });
            const url = response.data.url;

            const headers = {
                'Content-Type': files[0].type,
                'x-amz-acl': 'public-read',
            };

            // eslint-disable-next-line @typescript-eslint/ban-ts-comment
            // @ts-ignore
            await axios.put(url, files[0], {
                headers,
                onUploadProgress: (e) => {
                    progress = e.progress * 100;
                },
            });
            console.log('upload done');
            dispatch('ready');
            uploading = false;
            const pieces = url.split('?');
            formField.value = {
                url: pieces[0],
                name: files[0].name,
                type: files[0].type,
            };
        } catch (e) {
            $notifications.addNotification(e.Message, 'error');
        }
    };
</script>