<div class="absolute w-full h-full
    flex flex-col items-center
    top-0 left-0 z-10 bg-black bg-opacity-30">
    <div class="w-1/2 p-6 bg-white mt-12 rounded-2xl">
        <div class="flex flex-row w-full text-3xl">
            { title }
        </div>
        <div class="border-y-2 border-gray-300 p-4 my-4">
            <slot />
        </div>
        <div class="text-right ">
            {#if !hideCancel}
                <Button on:click={cancel}>Cancel</Button>
            {/if}
            <Button on:click={confirm}>{confirmTxt}</Button>
        </div>
    </div>
</div>
<script lang="ts">
    import { Button } from "flowbite-svelte";
    import { createEventDispatcher } from 'svelte';
    export let title = 'Are you sure?';
    export let confirmTxt = 'Confirm';
    export let hideCancel = false;

    const dispatch = createEventDispatcher();
    const cancel = () => {
        dispatch('cancel');
    }
    const confirm = () => {
        dispatch('confirm');
    }
</script>