<div class="absolute w-full h-full overflow-y-scroll
    flex flex-col items-center
    top-0 left-0 z-10 bg-black bg-opacity-30" on:click={ () => { close() } }>
    <div class="p-6 bg-white my-12 rounded-2xl" style:width={width}>
        <div class="flex flex-row w-full">
            <slot name="title"/>
            {#if showClose}
                <div class="text-right grow">
                    <span class="material-symbols-outlined cursor-pointer"
                          on:click={ () => { close(true) } }>cancel</span>
                </div>
            {/if}
        </div>
        <slot/>
    </div>
</div>
<script lang="ts">
    import {createEventDispatcher} from 'svelte';

    export let clickToClose = true;
    export let showClose = true;
    export let width = '50%';

    const dispatch = createEventDispatcher();
    const close = (force = false) => {
        if (force || clickToClose) {
            dispatch('click');
        }
    }
</script>