<script>
import logo from "$lib/assets/logo.svg";
export let text = 'loading';
</script>

<div class="flex flex-row justify-center my-10 justify-items-center items-center">
    <div class="mr-2 w-1/3">
        <img src={logo} class="bottomImage grayscale" />
        <img src={logo} class="topImage" />
    </div>
    <div class="ml-2 w-2/3">
        {text}
    </div>
</div>

<style>
    .topImage, .bottomImage {
        margin: 0 auto;
        height: 6rem;
    }
    .topImage {
        z-index: 2;
        position: relative;
        margin-top: -6rem;
        height: 6rem;
        animation-duration: 5s;
        animation-name: changeClipPath;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
    .bottomImage {
        position: relative;
        z-index: 1;
    }

    @keyframes changeClipPath {
        from {
            clip-path: inset(99% 0 0 0);
        }
        to {
            clip-path: inset(0 0 0 0);
        }
    }
</style>